*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 100%;
    width: 70%;
    font-family: "Ga Maamli", sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 600px;
    height: 600px;

    padding: 20px;
    background-color: white; 
    margin-bottom: 40px;


}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    /* gap: 20px; */
    align-items: stretch;
    padding: 20px;
    width: 100%;
}

.cell {

    /* background-color: #262626;
    border: 3px solid #171717;*/
    background-color: inherit;
    border: none;
    padding: 0;
    box-sizing: border-box;
    /* border-radius: 5px; */
}

[data-row="1"][data-col="1"] {
    border: 5px solid black;
}

[data-row="1"][data-col="0"] {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

[data-row="0"][data-col="1"] {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

[data-row="1"][data-col="2"] {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

[data-row="2"][data-col="1"] {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.x_mark {
    fill: #ef4444;
    height: 80%;
    width: auto;
}

.o_mark {
    fill: #65a30d;
    height: 80%;
    width: auto;
}

.o_mark-container {
    fill: #65a30d;
    width: 50%;
    height: auto;
}

.x_mark-container {
    fill: #ef4444;
    width: 50%;
    height: auto;
}


#start-button {
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-family: inherit;
    font-size: 2.25rem;
    align-self: flex-end;
}

.player-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player-name-container > * {
    display: flex;
    width: 15%;
}

.header {
    font-size: 4rem;
}

#nameDialog form {
    font-size: 1.5rem;
}

#nameDialog p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#nameDialog input {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
}

#nameDialog button {
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 1.1rem;
    font-family: inherit;
}


#cancelBtn {
    color: black;
    background-color: white;
    border: 0.15rem solid black;
}

#confirmBtn {
    color: white;
    background-color: black;
}

.subsection {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
}

output {
    font-size: 3rem;
}